.container {
    width: 90%;
    margin: 0 auto;
}
.tituloh1 {
    margin-top: 20px;

}
.borda-conta {
    border: 1px solid #000;
    width: 100%;
    height: 220px;
    margin: 0 auto;       
}
.borda-conta h2 {
    margin: 0;
    text-align: left; 
    padding-left: 10px; 
    margin-top: 30px;
}
.borda-endereco {
    border: 1px solid #000;
    width: 100%;
    height: 220px;
    margin: 0 auto;
    margin-top: 2px;

}
.borda-endereco h2 {
    margin: 0; 
    text-align: left; 
    padding-left: 10px; 
    margin-top: 30px;
}
input[type="text"],input[type="password"]{
    border: 1px solid #ccc; 
    border-radius: 3px; 
    padding: 5px; 
    margin-top: 1px;
    height: 12px;
}
ul{
    padding-left: 50px;
}
#estado {
    border: 1px solid #ccc; 
    border-radius: 3px; 
    padding: 1px; 
    appearance: none; 
    background: url('seta2.png') no-repeat right center ; 
    background-size: 20px; 
    background-color: #fff; 
    width: 150px;
}
.borda-perfil {
    border: 1px solid #000;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    margin-top: 2px;
}
.borda-perfil h2 {
    margin: 0; 
    text-align: left; 
    padding-left: 10px; 
    margin-top: 30px;
}
.borda-perfil textarea {
    width: 80%;
}
.borda-email {
    border: 1px solid #000;
    width: 100%;
    height: 140px;
    margin: 0 auto;
    margin-top: 2px;

}
.borda-email h2 {
    margin: 0; 
    text-align: left; 
    padding-left: 10px; 
    margin-top: 30px;
}
.borda-criar-conta {
    border: 1px solid #000;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-top: 2px;

}
.borda-criar-conta button {
    padding: auto; 
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer; 
}




